<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../helpers.js"></script>


<div class="container">

    <script src="../routes/shoppingcart.js"></script>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <% if (data.Products!=null) { %>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <%for (var i = 0; i < data.Products.length; i++) { %>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <span class="thumbnail pull-left" > <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </span>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= data.Products[i].PName %></h4>
                                    <h5 class="media-heading"> by Brand name</h5>
                                </div>
                            </div></td>
                        <td class="col-md-1" style="text-align: center">

                            <form action="/shoppingcart/<%=i%>" method = "get">
                                <input  class="form-control"  name="quantity" value=<%= data.Products[i].Pquantity %>>limit is 10</button>
                            </form>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= data.Products[i].Pprice %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= data.Products[i].Total %></strong></td>
                        <td class="col-sm-1 col-md-1">
                            <form action="/shoppingcart/removeprod/<%= data.Products[i].PID %>" method = "post">
                                <button  class="btn btn-link" type="hidden" id="removeid" name="removeid">Remove</button>
                            </form>
                </tr>
                </tbody>
                <% } %>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td><h3>Total</h3></td>
                <td class="text-right"><h3><strong>$<%= data.Total %></strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cartSpec" ></span><a href="/desktop"> Continue Shopping
                            </a></button></td>
                    <td>

                        <button  class="btn btn-link"><a href="/payment">Checkout !</a></button>

                </tr>
                <% } else{ %>
                    <td>  
                        <div class="alert alert-danger" role="alert">
                            No Products were selected.
                            <form action="/" method = "get">
                                <button  class="btn btn-link">Home</button>
                            </form>
                        </div>
                    </td>
                <% } %>
            </table>
        </div>
    </div>
</div>






<section class="recommended">
    <div class="">
        <div class="title-box">
            <div><a style="font-family: sans; font-size: large; color: orange; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Best- Selling</a></div>
        </div>
    </div>


<%for (var i = 0; i < best.length; i++) { %>
    <% if(best[i].Pamount > 0){%>
    <tr>
        <td class="col-sm-8 col-md-6">
            <div class="media">
                <a class="thumbnail pull-left" href="#"><img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                    <h4 id="data" class="media-heading"><a href="#"><%= best[i].PName %></a></h4>
                    <h5 class="media-heading"> by <a href="#"><%= best[i].Pcompany%></a></h5>


                </div>
            </div></td>
        <td class="col-sm-1 col-md-1 text-center"><strong><%= best[i].Pprice %>NIS</strong></td>
        <td class="col-sm-1 col-md-1">
            <div class="controls">
                <form action="/desktop/addtocart/<%=best[i].PID %>" method = "post">
                    <button type="submit" style="background:orange;" class="glyphicon glyphicon-shopping-cart" style="border: orange;" class="btn btn-primary">
                                               Add to cart</button>
                </form>
                        <!--                <form class="form-horizontal" action="" method="get">-->
<!--                    <button type="submit" style="background:orange;" class="glyphicon glyphicon-shopping-cartSpec" style="border: orange;" class="btn btn-primary">-->
<!--                        Add to cartSpec</button>-->
<!--                </form>-->

            </div>
    </tr>
<%}%>
<% } %>
</section>

<section class="MayLike">
    <div class="">
        <script src="../routes/shoppingcart.js"></script>
        <div class="title-box">
            <div><a style="font-family: sans; font-size: large; color: orange; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">You May Like</a></div>
        </div>
    </div>


    <% if(data.Like.length!= 0){%>
    <% var leng= data.Like.length%>
    <%if(leng >3){%>
    <% leng=3%>
        <%}%>

    <%for (var i = 0; i < leng ; i++) { %>
        <% if(data.Like[i].Pamount > 0){%>
            <tr>
                <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#"><img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                            <h4 id="data" class="media-heading"><a href="#"><%= data.Like[i].PName %></a></h4>
                            <h5 class="media-heading"> by <a href="#"><%= data.Like[i].Pcompany%></a></h5>


                        </div>
                    </div></td>
                <td class="col-sm-1 col-md-1 text-center"><strong><%= data.Like[i].Pprice %>NIS</strong></td>
                <td class="col-sm-1 col-md-1">
                    <div class="controls">
                        <form action="/desktop/addtocart/<%=data.Like[i].PID %>" method = "post">
                            <button type="submit" style="background:orange;" class="glyphicon glyphicon-shopping-cart" style="border: orange;" class="btn btn-primary">
                                Add to cart</button>
                        </form>

                    </div>
            </tr>
        <%}%>
    <% } %>
    <%}%>
</section>
