<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
  <script src="../routes/shoppingcart.js"></script>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
              <% if (data.Products!=null) { %>
                  <thead>
                      <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Total</th>
                          <th> </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <%for (var i = 0; i < data.Products.length; i++) { %>    
                            <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <span class="thumbnail pull-left" > <img class="media-object"  style="width: 72px; height: 72px;"> </span>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= data.Products[i].Pname %></a></h4>
                                    <h5 class="media-heading"> by Brand name</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div></td>
                            <td class="col-md-1" style="text-align: center">
                              <form action="/shoppingcart/<%=i%>" method = "get">
                                <input  class="form-control"  name="quantity" value=<%= data.Products[i].productAmount %>>limist is 10</button>
                                
                              </form>
                            <!-- <input type="email" class="form-control" id="exampleInputEmail1" value=<%= data.Products[i].productAmount %>> -->
                            <!-- <td class="col-sm-1 col-md-1" style="text-align: center"><strong><%= data.Products[i].productAmount %></strong></td> -->
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>$<%= data.Products[i].totalPrice %></strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>$<%= data.Products[i].Total %></strong></td>
                            <td class="col-sm-1 col-md-1">
                              <form action="/shoppingcart/removeprod/" method = "post">
                                <button  class="btn btn-link" type="hidden" name="removeid">Remove</button>
                              </form>
                        </tr>
                      </tbody>
                      <% } %>
                          <td>   </td>
                          <td>   </td>
                          <td>   </td>
                          <td><h3>Total</h3></td>
                          <td class="text-right"><h3><strong>$<%= data.Total %></strong></h3></td>
                      </tr>
                      <tr>
                          <td>   </td>
                          <td>   </td>
                          <td>   </td>
                          <td>
                          <button type="button" class="btn btn-default">
                              <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                          </button></td>
                          <td>
                          <form action="/shoppingcart/topayment" method = "post">
                            <button  class="btn btn-link">Checkout !</button>
                          </form>
                      </tr>
                      <% } else{ %>  
                        <td>   
                          <div class="alert alert-danger" role="alert">
                            No Products were selected.
                            <form action="/" method = "get">
                              <button  class="btn btn-link">Home</button>
                            </form>
                          </div>
                    </td>
                     <% } %>
            </table>
        </div>
    </div>
</div>